{% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
    <select name="id">
        {% for variant in product.variants %}
            <option {% if variant == current_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}">
                {{ variant.title }}
            </option>
        {% endfor %}
    </select>

    <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
    <input id="Quantity" min="1" name="quantity" type="number" value="1">

    <div data-price-wrapper>
        <span data-product-price>
            {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
            <s data-compare-price>
                {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                {% endif %}
            </s>
        {% endif %}
    </div>

    <button type="submit" name="add" data-submit-button {% unless current_variant.available %} disabled="disabled" {% endunless %}>
        <span data-submit-button-text>
            {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
            {% else %}
                {{ 'products.product.sold_out' | t }}
            {% endif %}
        </span>
    </button>
{% endform %}