<section data-section-id="{{ section.id }}" data-section-type="product">

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

    {% for image in product.images %}
        {% capture wrapper_class %}
            {%- unless featured_image == image -%}
                hide
            {%- endunless -%}
        {% endcapture %}

        {% include 'responsive-image' with
      image: image,
      max_width: 700,
      max_height: 800,
      image_attributes: "data-product-featured-image",
      wrapper_class: wrapper_class,
      wrapper_attributes: "data-product-image-wrapper",
    %}
    {% endfor %}

    {% if product.images.size > 1 %}
        <ul>
            {% for image in product.images %}
                <li>
                    <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail {% if featured_image == image %} aria-current="true" {% endif %}>
                        <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>{{ product.title }}</h1>
    <p>{{ product.vendor }}</p>


    {% include 'product-form' %}

    <div class="rte">
        {{ product.description }}
    </div>

    {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
    {% endif %}
</section>

{% schema %}

{
    "name": "Product pages",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_share_buttons",
            "label": "Show social sharing buttons",
            "default": true
        }
    ]
}

{% endschema %}
